@charset "UTF-8";

/*font cabeçalho*/
@font-face {
    font-family:'libre' ;
    src: url('../fonts/LibreBaskerville-Bold.ttf') format('truetype');
}

/*reset global*/
* {padding: 0px;margin: 0px;}



/*cabeçalho*/
header {background-color: rgb(68, 97, 177);text-align: center;padding: 20px; font-family: libre;color: white;text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.555);}
header h1 {margin-top: 30px;}
#slogan {width: 70px;height: 70px;}

/*menu normal*/
menu {display: none;}
menu ul {list-style-type: none;}
menu a {display: block; padding: 10px;color: white;text-decoration: none;background-color: rgb(41, 38, 38);text-align: center;min-width: 90px;}/*border: 2px solid rgb(255, 255, 255)*/
menu a:hover {background-color: rgb(91, 149, 216);cursor: pointer;transition: 1s;}

/*menu hamburguer*/
#menu {background-color: rgb(41, 38, 38);display: block;padding: 5px;color: white;cursor: pointer;}
#menu:hover {background-color: rgb(91, 149, 216);cursor: pointer;transition: 1s;}





/*corpo*/


/*Config gerais, h2 e h3 geral*/
body {background-image: url('../imagens/plano-fundo.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;}
div.container {min-height: 300px;max-width: 800px;min-width: 280px;display: block;margin: auto;margin-top: 20px;}
main {background-color: white;margin-left: 6px;margin-right: 6px;padding: 10px;text-align: justify;border-radius: 20px;font-family: Arial, Helvetica, sans-serif;}
main h2 {text-align: center;margin-top: 50px;margin-bottom: 20px;font-size: 36px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
main h3{text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;margin: 20px;font-size: 14px;text-decoration: underline;color: black;}
main p {text-indent: 30px;margin-bottom: 10px;margin-left: 20px;margin-right: 20px;}
a {text-decoration: none;}
.not {font-family: libre;text-align: center;font-size: 30px;margin-top: 30px;}



/*pagina noticia*/
#imgpagnoticia {display: block; width: 95%;height: auto;margin: auto;margin-bottom: 20px;}


/*container noticia principal*/
.principal {width: 95%;height: auto;padding: 10px;margin: auto; font-family: Arial, Helvetica, sans-serif;}
.principal h1 {text-align: center;margin-top: 30px;margin-bottom: 10px;font-size: 36px;color: rgb(255, 255, 255);background-color: rgb(68, 97, 177);text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.582);width: 90%;margin: auto;}
.principal h2 {font-size: 14px;margin-top: 10px;margin-bottom: 10px;text-align: center;text-decoration: none;font-family: Arial, Helvetica, sans-serif;}
.principal a:visited {color: black;}
#imgcapa {display: block;width: 90%;height: auto;margin: auto;}

 



/*container noticia normal*/
.noticia {display: block;width: 60%;height: auto;background-color: rgb(68, 97, 177); margin: auto;margin-top: 10px;margin-bottom: 10px;}
.noticia h2 {font-size: 18px;text-align: left;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin: 2px;}
.noticia a:visited {color: rgb(255, 255, 255);}
.noticia h3 {text-decoration: none;color: white;}
#marcador {display: inline-block;width: 30px;height: 30px;}
.fotonoticia {width: 100%;height: auto;margin: auto;}
#fotomini {width: 100%;}




/*tabela*/
.tabela h2 {font-size: 18px;}
.tabela caption {font-size: 18px;margin-bottom: 30px;margin-top: 20px;}
.tabela table {border-collapse: collapse;width: 70%;margin: auto;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-bottom: 30px;}
.tabela td,th {border: 1px solid black;text-align: center;height: 40px;padding: 2px;}
.tabela tfoot > tr {background-color: yellow;}

/*section contatos*/
section#contatos {background-color: rgb(255, 255, 255);text-align: center;color: rgb(0, 0, 0);padding: 10px;font-family: Arial;margin-top: 20px;font-size: 14px;}


/*rodapé*/
footer {background-color: rgb(68, 97, 177);text-align: center;color: white;padding: 10px;font-family: libre;}