@charset "UTF-8";

@media screen and (min-width: 768px) {
    /*menu*/
    #menu {display: none;}
    menu {display: block;}
    menu li {display:inline-block}
} 

@media screen and (max-width: 768px) {


    .principal h1 {font-size: 20px;}
    .principal h2 {font-size: 12px;}



    section#contatos {font-size: 12px;}
    footer p {font-size: 12px;}

}



    

